* {
  box-sizing: border-box;
}

body {
  background-color: #24211e;
}

h1 {
  font-family: 'Cinzel', serif;
  color: #bfb39a;
  margin: 2% auto 0%;
}

h2 {
  font-family: 'Cinzel', serif;
  color: white;
  font-size: 20px;
  margin: 2%;
}

h3 {
  font-family: 'Cinzel', serif;
  color: #bfb39a;
  text-align: center;
  margin-top: 10%;
  font-size: 30px;
}
